* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Monospaced, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
header{
    background-color: #222831;
}

button{
    cursor: pointer;
}
#reset,
#formatToString,
#formatToJson{
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./img/transform.png");
}

#reset{
    background-image: none;
    font-size: 25px;
    font-family: "JetBrains Mono SemiBold", monospace;
    background-color: black;
    color: rgba(248, 105, 105, 0.67);
    transition-duration: 0.4s;
    border: none;
    &:hover{
        color: white;
        transition-duration: 0.4s;
    }
}

#formatToJson{
    transform: rotate(180deg);
}

body{
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: scroll;
    cursor: url('./img/cursor.png'), auto;
}

.neon-text {
    font-size: 2rem;
    font-weight: bold;
    color: #fff; /* Base color of the text */
    text-shadow:
            0 0 60px #000000; /* Neon glow effect */
    font-family: 'Arial', sans-serif;
}

h1 {
    padding: 10px;
    color: rgba(96, 63, 14, 0.66);
}

#root {
    display: grid;
    grid-template-columns: calc(50% - 30px) 50px calc(50% - 30px);
    justify-content: space-between;
    padding: 20px;
    gap: 5px;
    height: auto;
    background-color: black;
}

.json-1, .json-2 {
    display: grid;
}

.transforms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(242, 242, 242, 0.88);

}

#jsonInput, #jsonOutput {
    color: black;
    min-height: 800px;
    padding: 20px;
    line-height: 20px;
    font-size: 20px;
    resize: none;
    background-color: rgb(255, 255, 255);
}

#jsonOutput {
    color: #02702c;
    font-weight: bold;
}

label {
    font-size: 18px;
    color: #9b42c6;
    font-weight: bold;
}

.moreActions{
    display: flex;
    align-items: center;
    gap: 20px;
    padding:  20px;
    justify-content: flex-start;
    background-color: #f2f2f2;
    &>button{
        border: none;
        padding: 10px;
        cursor: pointer;
        color: white;
    }
}

.dark-mode{
    background-color: white!important;
    color: black!important;
}
.gap-500{
    gap: 500px;
}

.neon-textarea {
    color: #fff; /* Text color */
    background-color: #000; /* Black background */
    border: 1px solid transparent; /* Transparent initial border */
    border-radius: 2px; /* Rounded corners */
    outline: none;
    box-shadow:
            0 0 10px #ff0000; /* Neon glow effect */
    font-family: 'Arial', sans-serif;
}

/* Add focus effect */
.neon-textarea:focus {
    box-shadow:
            0 0 20px #ff0000/* Enhanced neon glow on focus */
}

.music{
    width: 300px;
    height: 30px;
}

.snow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    pointer-events: none;
}

/* Individual snowflake styling */
.snowflake {
    position: absolute;
    top: -10px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: fall linear infinite;
}

/* Snowflake animation */
@keyframes fall {
    0% {
        transform: translateY(-10px) translateX(0);
        opacity: 0.8;
    }
    100% {
        transform: translateY(80vh) translateX(50px);
        opacity: 0.2;
    }
}

.shadowed{
    background-color: rgba(255, 255, 255, 0.86)!important;
}

.btn{
    background-color: #393e46;
}